In [2]:
### Import Packages

# File manipulation

import os # For working with Operating System
import requests # Accessing the Web
import datetime as dt # Working with dates/times
import io # Input/Output Bytes objects

# Analysis

import numpy as np
import pandas as pd

## Data

In [3]:
df = pd.read_csv('example_df.csv')

In [4]:
df

               timestamp   pm25
0    2022-06-15 22:10:00  1.374
1    2022-06-15 02:50:00  2.326
2    2022-06-15 06:20:00  1.310
3    2022-06-15 21:00:00  1.362
4    2022-06-15 23:40:00  1.853
..                   ...    ...
139  2022-06-15 20:20:00  2.952
140  2022-06-15 19:00:00  3.773
141  2022-06-15 17:00:00  0.886
142  2022-06-15 05:00:00  2.331
143  2022-06-15 04:40:00  2.365

[144 rows x 2 columns]

In [21]:
#daily time above 12 ug

# AQI 24 hr average index values from https://www.airnow.gov/sites/default/files/2020-05/aqi-technical-assistance-document-sept2018.pdf
# 0 - 12 Good
# 12.1 - 35.4 Moderate
# 35.5 - 55.4 Unhealthy for Sensative Groups
# 55.5 - 150.4 Unhealthy
# 150.5 - 250.4 Very Unhealthy
# 250.5 - 500.4 Hazardous
# 500.4 + Beyond the AQI, use Hazardous information

def minutes_above_12ug(df):
    #convert timestamp to pandas datetime object for comparison
    df['timestamp'] = pd.to_datetime(df.timestamp)

    # Filter rows where pm25 values are above 12
    df_above_12 = df[df['pm25'] > 12]

    # Calculate time difference between timestamps
    # time_diff = df_above_12['timestamp'].diff()
    time_diff = (df_above_12['timestamp'].min() - df_above_12['timestamp'].min())

    # Sum up the time differences to get the total time above 12
    total_time_above_12 = time_diff.sum()

    # Get the total time in minutes
    # Calculate total time above 12 in seconds (only way to get total time back, with the .total_seconds attribute) 
    total_seconds = total_time_above_12.total_seconds()

    # Convert total seconds to hours
 
    minutes = int(total_seconds * 0.01666667)
    
    # Print the result
    print(minutes)

In [41]:
def daily_minutes_above_12ug(df):
    #convert timestamp to pandas datetime object for comparison
    df['timestamp'] = pd.to_datetime(df.timestamp)

    # Filter rows where pm25 values are above 12
    df_above_12 = df[df['pm25'] > 5]

    # each reading in the new df represents a ten minute average for that time block, so I'll multiply the length of the column by 10 to get the total time in minutes!
    mins_above_12ug = len(df_above_12) * 10

    return mins_above_12ug 


# Calculate time difference between timestamps
# time_diff = df_above_12['timestamp'].diff()
#time_diff = (df_above_12['timestamp'].max() - df_above_12['timestamp'].min())

# Sum up the time differences to get the total time above 12
#total_time_above_12 = time_diff.sum()

# Get the total time in minutes
# Calculate total time above 12 in seconds (only way to get total time back, with the .total_seconds attribute) 
#total_seconds = total_time_above_12.total_seconds()

# Convert total seconds to hours

#minutes = int(total_seconds * 0.01666667)

# Print the result
# print(minutes)
# print(time_diff)

50

In [43]:
type(mins_above_12ug)

int

In [22]:
minutes_above_12ug(df)

AttributeError: 'NaTType' object has no attribute 'sum'

In [8]:
Timedelta.as_unit('hr')

AttributeError: 'Timedelta' object has no attribute 'as_unit'