In [2]:
### Import Packages

# File manipulation

import os # For working with Operating System
import requests # Accessing the Web
import datetime as dt # Working with dates/times
import io # Input/Output Bytes objects

# Analysis

import numpy as np
import pandas as pd

## Data

In [8]:
df = pd.read_csv('example_df.csv')

In [11]:
df

               timestamp   pm25
0    2022-06-15 22:10:00  1.374
1    2022-06-15 02:50:00  2.326
2    2022-06-15 06:20:00  1.310
3    2022-06-15 21:00:00  1.362
4    2022-06-15 23:40:00  1.853
..                   ...    ...
139  2022-06-15 20:20:00  2.952
140  2022-06-15 19:00:00  3.773
141  2022-06-15 17:00:00  0.886
142  2022-06-15 05:00:00  2.331
143  2022-06-15 04:40:00  2.365

[144 rows x 2 columns]